<!DOCTYPE html>
<html>
  <head>
    <script id="s-nav" src="<%= APP_NAV %>"></script>
    <script id="s-appShell" src="<%= APP_SHELL %>"></script>
    <script id="s-auth" src="<%= APP_AUTH %>"></script>
    <script id="s-users" src="<%= APP_USERS %>"></script>
    <script id="s-tickets" src="<%= APP_TICKETS %>"></script>
  </head>
  
  <body>
    <div id="root"></div>
  </body>
</html>
