<!DOCTYPE html>
<html>
  <head>
    <script src="<%= APP_NAV %>"></script>
    <script src="<%= APP_SHELL %>"></script>
    <script src="<%= APP_AUTH %>"></script>
    <script src="<%= APP_USERS %>"></script>
    <script src="<%= APP_TICKETS %>"></script>
    <script src="<%= APP_VUE %>"></script>
  </head>
  
  <body>
    <div id="root"></div>
  </body>
</html>
